{% extends 'base.html' %}

{% block main_section %}
<div class="p-4 sm:ml-64 pt-10 text-white">
    <div class="grid mb-4">
        <div>
            <img src="{{ channel_page.channel_banner.url }}" class="h-48 w-full mb-5" alt="">
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <img src="{{ channel_page.avatar.url }}" class="rounded-full w-32" alt="User Avatar" />
                <div class="ml-5">
                    {% if channel_page.nickname %}
                    <h1>{{ channel_page.nickname }}</h1>
                    {% else %}
                    <h1>{{ channel_page.username }}</h1>
                    {% endif %}
                    <hr />
                    <div class="flex items-center space-x-5 mb-5">
                        <h3 class="font-bold">@{{ channel_page.username }}</h3>
                        <h3 class="">{{ channel_page.subscriber_counter }} subscribers</h3>
                        <h3>{{ channel_page.video_counter }} videos</h3>
                    </div>
                    <a href="{% url 'channel_page_about' username %}" class="">More about channel -----:</a>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="flex flex-col space-y-2 text-black">
                <a href="{% url 'channel_edit' %}">
                    <button class="p-2 bg-cyan-300 hover:bg-cyan-400">
                        Modify Channel Look
                    </button>
                </a>
                <button class="p-2 bg-cyan-300 hover:bg-cyan-400">
                    Manage Videos
                </button>
            </div>
            {% endif %}
        </div>
        <div class="bg-stone-950 text-gray-200 mt-5">
            <a href="{% url 'channel_page' username %}">
                <button class="px-10 py-2 hover:text-gray-400 hover:bg-stone-800 transition">
                    Main
                </button>
            </a>
            <a href="{% url 'channel_page_videos' username %}">
                <button class="px-10 py-2 hover:text-gray-400 hover:bg-stone-800 transition">
                    Videos
                </button>
            </a>
            <a href="{% url 'channel_page_playlists' username %}">
                <button class="px-10 py-2 hover:text-gray-400 hover:bg-stone-800 transition">
                    Playlists
                </button>
            </a>
            <a href="{% url 'channel_page_about' username %}">
                <button class="px-10 py-2 hover:text-gray-400 hover:bg-stone-800 transition">
                    About Channel
                </button>
            </a>
        </div>
        {% block user_page %} {% endblock %}
    </div>
</div>
{% endblock %}